.speech {
    font-family: Arial, sans-serif;
    font-size: 17px;
    color: black;
  }
  .direction {
    font-family: Georgia, serif;
    font-size: 15px;
    color: black;
  }
  .direction {
    background-color: #f1ecec;
  }
  .direction:hover {
    background-color: #dad2d2;
    color: rgb(244, 241, 241);
  }
  .HENRIETTE {
    color: rgb(114, 40, 148);
  }
  
  .JACQUES {
    color: rgb(32, 110, 129);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    
  }
  
  th, td {
    text-align: left;
    padding: 9px;
    border-radius: 15px;
  }
  
  th {
    background-color: #b8c77d;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  td:first-child {
    font-weight: bold;
  }
  
  td:nth-child(2) {
    color: #f48de9;
  }
  
  td:last-child {
    color: #133858;
  }
  
  td, th {
    border: 0px solid #a73a3a;
  }
  
  h5.JACQUES:hover, h5.HENRIETTE:hover {
    color: rgb(38, 38, 162);
    box-shadow: 3px 4px 5px 6px #8c398c;
    border: 10px solid #a487a4;
    transition: transform .5s;
  }

  .menu{

    display:flex;
    justify-content: left;
    background: orange;
  }
  .navbar-MenuBar{
    padding: 16px;
    float: left;
    color: black;
    display: none;
    background-color: black;
    border-radius: 15px;
  }
  li a {
     display: block;
     color: #060606;
     text-align: center;
     padding: 13px 20px;
     text-decoration: solid;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color: #474749;
  }
  li {
    float: left;
  }
  .image {
    width: 40%;
    height: 30%;
    margin-top: 35px;
    margin-bottom: 13px;
    margin-right: 90px;
    margin-left: 65px;
  }
